@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Sansita&display=swap%27');

:root {
  --background-color: #231F42;
  --main-text-color: #F56B9A;
  --secondary-text-color: #37AEAB;
  --third-text-color: #FFFFFFCC;

  --header-font: 'Sansita';
  --main-font: 'Fira sans';
}

h1 {
  font-size: 32px;
  font-family: var(--header-font);
  font-weight: 400;
  color: var(--main-text-color);
}

.primaryButton {
  background-color: var(--secondary-text-color);
  color: var(--third-text-color);
  font-family: var(--main-font);
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 3px;
  padding: 0.9rem 3.4rem;
}
