.event-info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
    color: var(--third-text-color);
}

.event-info--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-info--quote {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
    margin: 1.5rem;
    text-align: center;
}

.event-info--name {
    color: var(--main-text-color);
    font-family: var(--header-font);
    font-weight: 600;
    font-size: 40px;
    line-height: 41px;
    margin-top: 20px;
}

.event-info--date {
    font-weight: 700;
    color: #37aeab;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
}

.event-info--location {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.event-info-price {
    font-family: var(--main-font);
    color: var(--third-text-color);
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding: 1rem 1.5rem;
}

.event-info--choser {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem 0rem 0rem;
}

.event-info--choser h4 {
    flex: 1;
    text-align: center;
    font-size: 28px;
    line-height: 39px;
    padding: 0.5rem 2rem;
    border-top: 1px solid #f56b9a;
    border-right: 1px solid #f56b9a;
    border-left: 1px solid #f56b9a;
}

.event-info--choser-btn {
    align-items: center;
    text-align: center;
    background-color: transparent;
    color: var(--third-text-color);
    font-size: 28px;
    line-height: 39px;
    padding: 0.5rem 1.5rem;
    border: 1px solid #f56b9a;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
