@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Sansita&display=swap%27");

:root {
    --background-color: #231f42;
    --main-text-color: #f56b9a;
    --secondary-text-color: #37aeab;

    --header-font: "Sansita";
    --main-font: "Fira sans";
}

* {
    margin: 0;
    padding: 0;
}

.event__item {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.event__item h2 {
    font-family: var(--main-font);
}

.event__item p {
    font-family: var(--main-font);
}

.event__item--date {
    display: flex;
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
}

.event__item--date p {
    padding: 1.5rem;
    text-align: center;
}

.event__item--info {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    text-align: start;
    position: relative;
}

.event__item--location {
    font-size: 0.9rem;
    font-style: oblique;
}

.event__item--time {
    margin-top: auto;
}

.event__item--info .event__item--price {
    background-color: var(--main-text-color);
    position: absolute;
    right: 0;
    bottom: 0;
}
