@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Sansita&display=swap%27");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.event__item--wrapper {
    display: flex;
    justify-content: center;
    
}


.event__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.event__item h2, p {
    font-family: var(--main-font);
    color: var(--third-text-color);
}

.event__item--date {
    display: flex;
    margin: 0.5rem;
    border: 1px solid var(--third-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    flex: 1;
    padding: 1rem;
    margin-left: 0;
    border-radius: 5px;
}

.event__item--date p {
    display: block;
    width: 100%;
    text-align: center;
    word-spacing: 1000px;

}

.event__item--artist {
    font-size: 22px;
    line-height: 26px;
}

.event__item--info {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    
}

.event__item--location {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.event__item--timePrice-wrapper {
    display: flex;
    justify-content: space-between;
}


.event__item--time {
    font-size: 14px;
    line-height: 17px;
} 
.event__item--price {
    color: var(--secondary-text-color);
    font-size: 17px;
    line-height: 20px;
}
.event__item--underscore {
    border-bottom: 1px solid white;
}

a {
    text-decoration: none;
}