@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Sansita&display=swap%27");


.event__item--wrapper {
    display: flex;
    justify-content: center;
}

.event__item {
    width: 100%;
    font-family: var(--main-font);
    color: var(--third-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.event__item--date {
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex: 1;
    word-spacing: 62.5rem;
    border: 1px solid var(--third-text-color);
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.event__item--info {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

.event__item--artist {
    font-size: 1.4rem;
    text-shadow: 1px 1px #f56b9a;
}

.event__item--location {
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
}

.event__item--timePrice-wrapper {
    display: flex;
    justify-content: space-between;
}

.event__item--time {
    font-size: 0.9rem;
}

.event__item--price {
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: var(--secondary-text-color);
}

.event__item--underscore {
    border-bottom: 1px solid white;
}
