.event-info--container {
    font-family: var(--main-font);
    color: var(--third-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-info--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-info--quote {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin: 1.5rem;
}

.event-info--name {
    font-family: var(--header-font);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.6rem;
    color: var(--main-text-color);
    margin-top: 1.3rem;
}

.event-info--date {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
    color: #37aeab;
}

.event-info--location {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2rem;
}

.event-info-price {
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--third-text-color);
    padding: 1rem 1.5rem;
}

.event-info--choser {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 0rem;
}

.event-info--choser h4 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    flex: 1;
    padding: 0.5rem 2rem;
    border-top: 1px solid var(--main-text-color);
    border-right: 1px solid var(--main-text-color);
    border-left: 1px solid var(--main-text-color);
}

.event-info--choser-btn {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--third-text-color);
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border: none;
    border-top: 1px solid #f56b9a;
}
