
.footerNav__container {
    display: flex;
    gap: 0.5rem;
}

.active {
    background-color: var(--main-text-color);
}

a {
    background-color: var(--third-text-color);
    width: 1rem;
    height: 1rem;
    padding: 0;
    border-radius: 50%;
    border: none;
    text-decoration: none;
}
.navButton {
    display: none;
}

.footerNav__wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
