.navbar {
    background-color: var(--background-color);
    color: var(--third-text-color);
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.navbar a {
    background-color: var(--background-color);
}

.navbar a:hover {
    transform: scale(1.1)
}
