.navbar {
    width: 100%;
    background-color: var(--background-color);
    color: var(--third-text-color);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0.5rem 1rem;
}

.order-count {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--main-text-color);
    position: absolute;
    top: 8px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 100%;
}

.order-count__number {
    font-family: var(--main-font);
    font-weight: 600;
    color: white;
}
