.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-shadow: 1px 1px #000;
}

.landingPage__sub-header {
    font-family: var(--main-font);
    color: var(--third-text-color);
    font-style: italic;
    font-weight: 400;
    font-size: 1.4rem;
}

.landingPage__image {
    width: 12rem;
    object-fit: cover;
}
