.orders__Page {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.orders__Page .noOrder {
    font-size: 1.5rem;
    font-style: italic;
    color: white;
    margin: 3rem 0 1rem 0;
}

.orderPage__total_price {
    width: 100%;
    text-align: center;
    margin-top: auto;
}
.orderPage__total_price p {
    font-size: 1.2rem;
    color: var(--third-text-color);
}

.orderPage__total_price h1 {
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 2px #f00;
}

.orderPage__total_price > button {
    width: 100%;
}
