.orders__Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: var(--main-font);
}

.orders__Page .noOrder {
    color: white;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-style: italic;
}
.orderPage__total_price {
    text-align: center;
    width: 100%;
    margin-top: auto;
}
.orderPage__total_price p {
    color: var(--third-text-color);
    font-size: 1.2rem;
}

.orderPage__total_price h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--main-font);
    text-shadow: 1px 2px 2px #f00;
}

.orderPage__total_price > button {
    width: 100%;
}
