.ticketSlider__header {
    margin: 1rem 0;
}

.ticketsWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex: 0;
    flex-shrink: 0;
    gap: 1rem;
    overflow: scroll;
}

.ticket__container {
    width: 20rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.ticket__container h1 {
    font-weight: 900;
    font-style: italic;
    margin: 1rem 0;
    padding: 0 1rem;
}

.ticket__artist {
    border-bottom: 1px dotted grey;
    padding: 0 1rem;
}

.ticket__location {
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.06);
}

.ticket__location h2 {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.ticket__location p:nth-child(3) {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
    margin: 0.3rem 0 2rem 0;
}

.ticket__date-time {
    display: flex;
    background-color: rgba(0, 0, 0, 0.06);
}

.ticket__date-time section {
    width: 100%;
    padding: 0 1rem;
    border-left: 1px dotted grey;
    border-bottom: 1px dotted grey;
    border-top: 1px dotted grey;
}

.ticket__date-time section:nth-child(1) {
    border-left: 0 grey;
}

.ticket__date-time h3 {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 0.7rem 0;
}

.ticket__info {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.06);
    padding: 0 1rem 0.5rem 1rem;
}

.ticket__info p {
    color: rgba(0, 0, 0, 0.6);
}

.ticket__barcode {
    background: rgba(0, 0, 0, 0.12);
    text-align: center;
    padding-top: 2.5rem;
}

.ticket__barcode p {
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 1rem 0;
}

.ticket__sub-title {
    font-size: 0.7rem;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    margin: 0.5rem 0;
}
