.event-info--ticket-selector {
    width: 100%;
    color: var(--third-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F56B9A;
    border-radius: 5px;
    margin-top: 5rem;
    padding-top: 1rem;
}
